#DiffInspector{
    flex-grow: 1;
}

#Lines {
	flex-grow: 1;
}

.icon-button Image {
	width: 16px;
	height: 16px;
}

#Donate Image {
	background-image: resource("PreviewPackageInUse");
}

#Help Image {
	background-image: resource("d__Help");
}